/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}

/* Adjust font sizes for headings */
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}

/* Strong and bold text */
strong,
b {
	font-weight: 700;
}

/* Hyperlinks */
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}

/* Paragraph styles */
p {
	margin-bottom: 1em;
}
/* Special paragraph style for a class named "prose" */
.prose p {
	margin-bottom: 2em;
}

/* Textarea and input styles */
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}

/* Table styles */
table {
	width: 100%;
}

/* Image styles */
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

/* Code block styles */
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}

/* Blockquote styles */
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

/* Horizontal rule styles */
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}