---
const {Logo, name, active} = Astro.props;

let classNameStr = 'py-2 m-2 px-1 flex flex-1 justify-start gap-4 items-center rounded-md text-gray-300 '

if (active){
    classNameStr += 'bg-purple-800'
}
else {
    classNameStr += 'hover:bg-zinc-800'
}
---

<section class={classNameStr}>
    <section class="text-lg"><Logo/></section>
    <section class="text-lg font-normal">{name}</section>
</section>